.demo-infinite-container-plan {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 80vh;
  width: 20vw;
  text-align: center;
  opacity: 0.8;
  background-color: white
}

.demo-loading-container-plan {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.plan {
  padding-top: 10px;
}

.pointer {
  cursor: pointer;
}