.register-form {
    width: 500px;
    /* margin: 10vh auto;
    padding-left: 15vw; */
    position: absolute;
    top: 60%;
    left: 65%;
    transform: translate(-50%, -50%);
    /* vertical-align: middle; */

}

.ant-form-item-control-wrapper {
    margin: 0;
}